<!--
  Generated t                                                                       emplate for the FilterModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons end style="position: absolute;right: 4px;top: 12px;">
      <button (click)="closeModal()" style="background-color: transparent;">
        <img class="icon-color-on-primary" src="assets/imgs/close.png" style="width: 20px">
      </button>
    </ion-buttons>

    <ion-title>{{"Filter" | translate}}</ion-title>

  </ion-navbar>
</ion-header>

<ion-content class="shop-background">


<!--  <div class="filter-options">

    <div style="width: 45%; display: inline-block; height: 100%">
      <div style="display: inline-block; float: left; height: 100%;line-height: 40px;">&lt;!&ndash;شامل تخفیف&ndash;&gt;
        Discounted
      </div>
      <ion-toggle [(ngModel)]="filter_onSale" disabled="false" style="display: inline-block; margin-left: 15px;"></ion-toggle>
    </div>


    <div style="width: 45%; display: inline-block; height: 100%">
      <div style="display: inline-block; float: left;  height: 100%; line-height: 40px;">&lt;!&ndash;موجود&ndash;&gt;
      {{"InStock" | translate}}
      </div>
      <ion-toggle [(ngModel)]="filter_inStock" disabled="false" style="display: inline-block; margin-left: 15px;"></ion-toggle>
    </div>

  </div>-->



  <ion-list radio-group [(ngModel)]="sort">
    <ion-list-header>
      <b>
      {{"Price range" | translate}}
      </b>
    </ion-list-header>
    <ion-item>
      <ion-label text-wrap style="width: 100%; text-align: center;font-size: 14px">
        from
        <span *ngIf="knobValues.lower != 0"> {{ knobValues.lower | numberSeparator}} {{"currency" | translate}}</span>
        <span *ngIf="knobValues.lower == 0"> {{ knobValues.lower}} {{"currency" | translate}}</span>

        to
        {{ knobValues.upper | numberSeparator }} {{"currency" | translate}}
      </ion-label>

   <!--   <ion-range
              style="width: 100%"
              [(ngModel)]="knobValues"
              dualKnobs="true"
              min="0"
              [max]="values.data.max_price">-->
      <ion-range (ionBlur)="changePriceRange($event)"
              style="width: 100%"
              [(ngModel)]="knobValues"
              dualKnobs="true"
              min="values.data.min_price"
              [max]="values.data.max_price" [pin]="true">
        <!--<ion-label range-right padding>
          {{values.data.max_price | numberSeparator }}
        </ion-label>
        <ion-label range-left padding>
          {{values.data.min_price | numberSeparator }}
        </ion-label>-->
      </ion-range>

    </ion-item>




 <!--   <button
            ion-button
            block
            color="button-color"
            (click)="chnageFilterbetweenPrice(sort)">
  {{"Show price in range" | translate}}
    </button>-->
  </ion-list>



<!--  <div style=" text-align: center;" *ngIf="noFilter">
   &lt;!&ndash; فیلتری موجود نیست.&ndash;&gt;
    {{"There are no filters" | translate}}

  </div>

  <div *ngIf="!noFilter" style="height: 100%; font-size: 15px;" >

    <div class="attributes">
      <div *ngFor="let filter of filter_types" (click)="getAttributeVars(filter)">

        <div class="filter-name-selected"  *ngIf="selectedFilter == filter.id">
          {{filter.name}}
        </div>

        <div class="filter-name-not-selected"
             *ngIf="selectedFilter != filter.id">
          {{filter.name}}
        </div>

      </div>
    </div>


    <div class="attr-vars"  >
      <div  style="padding: 5px; height: 50px; line-height: 45px; margin-top:5px; margin-bottom: 5px"
            *ngFor="let term of filter_terms">
        <div style="float: left; display: inline-block; width: 50%">{{term.name}}</div>
        <div style="float: right; display: inline-block; width: 50%; height: 100%;">
          <ion-checkbox style="float: right; margin-top: 12px;"  [(ngModel)]="term.isChecked" (click)="addTerm(term)"></ion-checkbox>
        </div>

      </div>
    </div>

  </div>-->

</ion-content>




<ion-footer no-border no-lines>
  <ion-toolbar class="filter-toolbar">

<!--    <div style="height: 60px; width: 100%;">-->

<!--      <div style="width: 45%; display: inline-block; height: 30px">-->
<!--        <div style="display: inline-block">onSale</div>-->
<!--        <ion-toggle [(ngModel)]="onSale" disabled="false" style="display: inline-block"></ion-toggle>-->
<!--      </div>-->


<!--      <div style="width: 45%; display: inline-block; height: 30px">-->
<!--        <div style="display: inline-block">inStock</div>-->
<!--        <ion-toggle [(ngModel)]="inStock" disabled="false" style="display: inline-block"></ion-toggle>-->
<!--      </div>-->

<!--    </div>-->

    <div style="display: flex !important;">
      <div (click)="clearFilters()" class="filter-footer-item1">
     <!--  پاک کردن فیلترها-->
        {{"Reset filters" | translate}}
      </div>
    </div>


    <div style="display: flex !important;">
      <div (click)="applyFilter()" class="filter-footer-item2">
       <!-- فیلتر کن-->
        {{"Apply" | translate}}
      </div>
    </div>




  </ion-toolbar>
</ion-footer>
