page-reviews {

}

.reviews-card{
  color: color($appsazShop, text , base);
  background-color: color($appsazShop, card-back , base);
  //direction: rtl;
  direction: $app-direction;
  padding-left: 20px;
  //padding-right: 20px;
  padding-#{$align-item}: 20px;
  margin-right: 3%;
  margin-left: 3%;
  width: 94%;
  margin-top: 15px;
  padding-bottom: 10px;
}

.reviews-card-name{
  display: inline-block;
  color: color($appsazShop, low-text , base);
  //direction: rtl;
  direction: $app-direction;
  //float: right;
  float: $align-item;
}

.reviews-card-rating{
  display: flex;
  align-items: center;
  //padding-right: 10px;
  padding-#{$align-item}: 10px;
  padding-top: 10px;
  margin-top: 3px;
}
.reviews-custom-cm{
  text-align: center;
  margin-right: 3%;
  margin-left: 3%;
  width: 94%;
  color: color($appsazShop, text , base);
  background-color: color($appsazShop, card-back , base);
  margin-top: 30px;
  padding-bottom: 15px;
}
.reviews-your-cm{
  color: color($appsazShop, text , base);
  background-color:color($appsazShop, card-back , base);
  font-size: 15px;
  padding: 0px;
  width: 94%;
  margin-right: 3%;
  margin-left: 3%;
  height: 20px;

}

.reviews-your-cm-label{
  color:color($appsazShop, low-text , base);
  //direction: rtl;
  direction: $app-direction;
  //padding-left: 200px;
  padding-#{$align-item-opposite}: 200px;
  padding-top: 10px;
  font-size: 14px;
}


.reviews-item{
  font-size: 15px;
  padding: 0px;
  width: 94%;
  margin-right: 3%;
  margin-left: 3%;
}

.reviews-item-textarea{
  padding: 5px;
  //text-align: right !important;
  text-align: $align-item;
  border-radius: 4px;
  border: 1px solid color($appsazShop, low-text , base);
  width: 98%;
  margin-right: 1%;
  margin-left: 1%;
  height: 100px;
  //direction: rtl;
  direction: $app-direction;
}

.reviews-item-rate{
  font-size: 15px;
  padding: 0px;
  width: 94%;
  margin-right: 3%;
  margin-left: 3%;
  //text-align: right;
  text-align: $align-item;
}

.reviews-last-cm{
  color: color($appsazShop, text , base);
  background-color:color($appsazShop, card-back , base);
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 3%;
  margin-left: 3%;
  width: 94%;
  margin-top: 30px
}
