<!--
  Generated template for the ReviewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>{{"Reviews" | translate}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="shop-background">

<div>

        <div *ngIf="reviews?.product_reviews?.length == 0"
             style="text-align: center; direction: ltr">
            <p><!--برای این محصول نظری ثبت نشده است.-->
                {{"There are no reviews for this product." | translate}}
            </p>
        </div>


    <div *ngIf="reviews?.product_reviews.length" >



        <div *ngIf="reviews.product_reviews.length > 0">
            <div *ngFor="let item of reviews.product_reviews">
                <div class="reviews-card box-shadow">
                    <div style="height: 30px; padding: 5px 0px;">
                        <div class="reviews-card-name">
                            {{item.reviewer_name}}
                        </div>
                        <div  style="display: inline-block; float: right">
                            <div>

                                <div *ngIf="item.rating==0.00">
                                    <img class="item-rate-star" style="width: 15px;" src="assets/imgs/ic_star.png">
                                    <img class="item-rate-star" style="width: 15px;" src="assets/imgs/ic_star.png">
                                    <img class="item-rate-star" style="width: 15px;" src="assets/imgs/ic_star.png">
                                    <img class="item-rate-star" style="width: 15px;" src="assets/imgs/stargray.png">
                                    <img class="item-rate-star" style="width: 15px;" src="assets/imgs/stargray.png">

                                </div>


                                <div *ngIf="item.rating>0.00">

                                    <img *ngIf="item.rating>0" class="item-rate-star" style="width: 15px;" src="assets/imgs/ic_star.png">
                                    <img *ngIf="item.rating>1" class="item-rate-star" style="width: 15px;" src="assets/imgs/ic_star.png">
                                    <img *ngIf="item.rating>2" class="item-rate-star" style="width: 15px;" src="assets/imgs/ic_star.png">
                                    <img *ngIf="item.rating>3" class="item-rate-star" style="width: 15px;" src="assets/imgs/ic_star.png">
                                    <img *ngIf="item.rating>4" class="item-rate-star" style="width: 15px;" src="assets/imgs/ic_star.png">


                                    <img *ngIf="5 - item.rating > 0" class="item-rate-star" style="width: 15px;" src="assets/imgs/stargray.png">
                                    <img *ngIf="5 - item.rating > 1" class="item-rate-star" style="width: 15px;" src="assets/imgs/stargray.png">
                                    <img *ngIf="5 - item.rating > 2" class="item-rate-star" style="width: 15px;" src="assets/imgs/stargray.png">
                                    <img *ngIf="5 - item.rating > 3" class="item-rate-star" style="width: 15px;" src="assets/imgs/stargray.png">
                                    <img *ngIf="5 - item.rating > 4" class="item-rate-star" style="width: 15px;" src="assets/imgs/stargray.png">
                                </div>
                            </div>
                        </div>

                    </div>

                    <hr>

                    <div>
                        {{item.review}}
                    </div>

                </div>
            </div>
        </div>


    </div>




    <div *ngIf="!commentedBefore"  class="reviews-custom-cm box-shadow">

        <form style="width: 100%; text-align: center;"  #f="ngForm" (click)="showLoginToast()">

            <ion-item no-lines class="reviews-your-cm">
                <div class="reviews-your-cm-label">
                    <!--نظر شما:-->
                    {{"Add a review" | translate}}
                </div>
            </ion-item>


            <div no-lines class="reviews-item">

                <textarea  class="reviews-item-textarea" [(ngModel)]="newReview"
                          name="newReview"  type="text" [disabled]="!values.isLoggedIn">

                </textarea>


            </div>

            <div *ngIf="values.isLoggedIn"  no-lines class="reviews-item-rate">

                <ionic3-star-rating style="direction: ltr"
                        activeIcon = "ios-star"
                        defaultIcon = "ios-star-outline"
                        activeColor = "#ffc700"
                        defaultColor = "#a2a1a1"
                        readonly="false"
                        [rating]="0">
                </ionic3-star-rating>
            </div>


            <div *ngIf="!values.isLoggedIn"  no-lines class="reviews-item-rate">

                <ionic3-star-rating style="direction: ltr"
                                    activeIcon = "ios-star"
                                    defaultIcon = "ios-star-outline"
                                    activeColor = "#ffc700"
                                    defaultColor = "#a2a1a1"
                                    readonly="true"
                                    [rating]="0">
                </ionic3-star-rating>
            </div>

        </form>

        <button *ngIf="values.isLoggedIn"   class="appbutton" (click)="commitReview()" ion-button type="submit" [disabled]="disableSubmit" >
           <!-- ارسال نظر-->
            {{"Submit" | translate}}
        </button>

        <button *ngIf="!values.isLoggedIn" class="appbutton" ion-button type="submit" [disabled]="true" style="text-transform: inherit">
          <!-- به منظور ثبت نظر به حساب کاربری خود وارد شوید.-->
            To submit your review, please login to app.
        </button>

    </div>







<div *ngIf="submittedReview">
    <div *ngIf="commentedBefore" class="reviews-last-cm box-shadow">

        <form style="width: 100%; text-align: center;"  #f="ngForm">

            <ion-item no-lines class="reviews-item">
                <div class="reviews-your-cm-label">
                   <!-- نظر ثبت شده ی شما:-->
                    {{"Your comment" | translate}}:
                </div>
            </ion-item>


            <ion-item no-lines class="reviews-item">

                <textarea [(ngModel)]="submittedReview[0].review" name="newReview" class="reviews-item-textarea" type="text">

                </textarea>

            </ion-item>

            <ion-item no-lines class="reviews-item-rate">
                <ionic3-star-rating style="direction: ltr"
                                    activeIcon = "ios-star"
                                    defaultIcon = "ios-star-outline"
                                    activeColor = "#ffc700"
                                    defaultColor = "#a2a1a1"
                                    readonly="false"
                                    [rating]=ratedValue>
                </ionic3-star-rating>
            </ion-item>

        </form>


        <button class="appbutton" (click)="updateReview(submittedReview[0].id, submittedReview[0].review , ratedValue)" ion-button type="submit" >
            <!--ذخیره تغییرات-->
            {{"Save changes" | translate}}
        </button>

    </div>
</div>





</div>


</ion-content>
