.billing-address-form {


}

.billing-address-form-list{
  //  border: 1px solid color($appsazShop, card-border , base);
    border-radius: 5px;
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
    background-color: color($appsazShop, card-back , base);
}

.checkout-factor{
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
    color: color($appsazShop, primary , base);
    text-decoration: underline;
    font-size: 12px;
}
