.home {
}
 .home-slider{
   background-color: transparent;
   height: unset !important;
   margin-top: 0px !important;
   margin-bottom: 10px;
 }

 .home-category-button{
   color: color($appsazShop , home-category-text , base);
   background: color($appsazShop , home-category , base);
   height: 36px !important;
   border-radius: 10px;
   display: inline-block;
   text-align: center;
   padding: 10px;
   font-size: 11px;
   min-width: 60px;

 }

 .home-card-sale-price{
   display: inline-block;
   text-decoration: line-through;
   float: $align-item-opposite;
 }


 .timer-blocks{
   color: color($appsazShop , home-category-text , base);
   background: color($appsazShop , home-category , base);
   border-radius: 3px;
   width: 25px;
   height: 25px;
   text-align: center;
   display: inline-block;
 }

 .flash-sale-text{
   display: inline-block;
   color: color($appsazShop , special , base);
   font-weight: bold;
   margin: 0px 5px 0px 5px
 }
