.account-order {

}


.order-card{
    color: black;
    box-shadow: 0px 0px 5px 0px #a49996;
    background-color: white;
    //direction: rtl;
    direction: $app-direction;
    width: 90%;
    margin-top: 20px;
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 250%;
}
.order-label{
    color: color($appsazShop , text , base);
    display: inline-block;
    width: 40%
}
.order-val{
    color: color($appsazShop , low-text , base);
    display: inline-block;
    width: 58%
}
.order-val-refunded{
    color: darkred;
    display: inline-block;
    width: 58%
}
.order-val-cancelled{
    color: darkred;
    display: inline-block;
    width: 58%
}
.order-val-on-hold{
    color: orange;
    display: inline-block;
    width: 58%
}
.order-val-completed{
    color: green;
    display: inline-block;
    width: 58%
}
.order-val-processing{
    color: greenyellow;
    display: inline-block;
    width: 58%
}
.order-val-failed{
    color: darkred;
    display: inline-block;
    width: 58%
}
.order-val-pending-payment{
    color: orange;
    display: inline-block;
    width: 58%
}

.order-cancel{
    color: color($appsazShop , low-text , base);
    font-size: 10px;
    text-align: center;
}

.order-label-details{
    margin-left: 2%;
    margin-right: 2%;
    color: color($appsazShop , primary , base) !important;
    display: inline-block;
    width: 40%;
}

.order-text{
    margin-left: 2%;
    margin-right: 2%;
    color: color($appsazShop , text , base);
}


.no-order-msg{
    text-align: center;
    font-size: 15px;
    margin-top: 100px;
}