

<ion-content style="background-color:  rgba(0,0,0,0.26)">


    <div style=" background-color: white; width: 84%;margin: 35% 8% 0% 8%; border-radius: 5px;">


        <div class="coupon-modal-header" >
                <ion-buttons end style="display: inline-block; float: left">
                    <button (click)="closeModal()" style="background-color: transparent;">
                        <img class="icon-color-on-special" src="assets/imgs/close.png" style="margin-top: 3px; width: 15px; margin-right: 15px;">
                    </button>
                </ion-buttons>

                <div style="display: inline-block">{{"Coupons" | translate}}</div>

        </div>

        <div style="padding: 10px">

            <div *ngIf="cart.applied_coupons.length == 0" style=" align-items: center; display: flex;">
                <div style=" display: inline-block; flex: 8; height: 40px">
                    <ion-input class="coupon-input" [(ngModel)]="cart.coupon" name="coupon" placeholder="{{'coupons' | translate}}">

                    </ion-input>
                </div>

                <button style="flex: 1; height: 40px; margin: 0px !important;" ion-button class="discount-code-bttn" block
                        type="submit" [disabled]='disableSubmitCoupon'
                        (click)="submitCoupon()"> {{"Submit" | translate}}
                </button>


                <hr>
            </div>


            <ion-list *ngIf="cart.content_total" class="coupon-tbl">
                <ion-row>
                    <ion-col width-75>
                        <ion-label><!--مجموع مبلغ سبد--> {{"Total price" | translate}}:</ion-label>
                    </ion-col>
                    <ion-col width-25 text-end>
                        <ion-label>{{( 1 * cart.content_total + 1 * cart.discount_total)  | numberSeparator}} {{"currency" | translate}}</ion-label>
                    </ion-col>
                    <hr>
                </ion-row>


                <ion-row *ngIf="cart.discount_total && cart.discount_total != 0">
                    <ion-col width-75 class="remove-coupon">
                        <ion-label><!--کد تخفیف فعال--> {{"Valid coupon" | translate}}:</ion-label>
                    </ion-col>
                    <ion-col width-25 text-end>
                        <ion-label><a (click)="removeCoupon()"> (<!--حذف--> {{"Remove" | translate}}) </a> {{cart.applied_coupons}}  </ion-label>
                    </ion-col>
                    <hr>
                </ion-row>


                <ion-row *ngIf="cart.discount_total && cart.discount_total != 0">
                    <ion-col width-75 class="remove-coupon">
                        <ion-label><!--مبلغ تخفیف--> {{"Amount of discount" | translate}}:</ion-label>
                    </ion-col>
                    <ion-col width-25 text-end>
                        <ion-label> {{1 * cart.discount_total | numberSeparator }} {{"currency" | translate}}</ion-label>
                    </ion-col>
                    <hr>
                </ion-row>


                <ion-row>
                    <ion-col width-75>
                        <ion-label><!--مبلغ قابل پرداخت--> {{"Final price" | translate}}:</ion-label>
                    </ion-col>
                    <ion-col width-25 text-end>
                        <ion-label>  {{1 * cart.content_total | numberSeparator}} <!--{{(1 * cart.subtotal) - (1 * cart.discount_total)  | numberSeparator}}--> {{"currency" | translate}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-list>


        </div>


    </div>

</ion-content>


