page-filter-modal {

}


.coupon-modal-header{
  width: 100%;
  background-color: color($appsazShop , special , base);
  padding: 5px;
  color: color($appsazShop , special-text , base);
  margin-bottom: 10px;
  padding-bottom: 10px;
}



.coupon-tbl{
  ion-col:nth-child(odd){
    color: gray;
  }
}

.coupon-input input{
  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 5px;
}
