login {
  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner , .item-input-has-focus .item-inner {
    border: none !important;
    box-shadow: none !important;
  }

  .item-md.item-block .item-inner{
    border-bottom: none !important;
  }


}



.login-box {
  //border: 1px solid color($appsazShop, primary, base);
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
  margin-right: 2%;
  margin-left: 2%;
  width: 96%;
  margin-top: 20px;
  background-color: transparent;
}

.login-input{
  border-radius: 7px;
  background-color: #e0dfdf;
}

.login-form {
  width: 100%;
  height: 50%;
  text-align: center;
  margin-top: 20px;
}

.login-item-label {
  color: color($appsazShop, low-text, base);
  //direction: rtl;
  direction: $app-direction;
  //text-align: right;
  text-align: $align-item;
  //margin-right: 10px;
  margin-#{$align-item}: 10px;
}

.login-item {
  font-size: 15px;
  background-color: transparent;
  color: color($appsazShop, text, base);
}

.login {
  background-color: transparent !important;
  color: color($appsazShop, primary, base) !important;
  margin-top: 10px;
  box-shadow: none !important;
}

.login-guide {
  color: color($appsazShop, low-text, base);
  text-align: center;
}

.login-welcome {
  //direction: rtl;
  direction: $app-direction;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 25px;
  color: color($appsazShop, low-text, base);
}

.login-data-label {
  width: 41%;
  //text-align: right;
  text-align: $align-item;
  color: color($appsazShop, text, base);
  display: inline-block;
}

.login-data-val {
  width: 55%;
  //text-align: right;
  text-align: $align-item;
  color: color($appsazShop, low-text, base);
  display: inline-block;
}

.login-footer {
  margin: 0px;
  flex: 1;
  text-align: center;
  height: 45px;
  padding-top: 10px;
  color: color($appsazShop , header-text , base);
}

.forget-label{
  display: flex;
  color: color($appsazShop , special , base);
  direction: ltr;

}

.create-account-label{
  margin: 30px;
  color: color($appsazShop , special , base);
  font-weight: bold;
}
