page-blog-detail {

}

.blog-date{
  margin-bottom: 10px;
  margin-top: -5px;
  text-align: left;//TO DO
  margin-left: 20px;
  font-size: 11px;
  color: gray;
}


.about-div-blog{
  margin: 20px 10px;
}
