<ion-menu side="left" [content]="content" >
    <ion-header>
        <ion-toolbar style="height: 120px; padding: 0px; margin-bottom: -1px;">

                <div *ngIf=" accountsService.loginLoading" class="lds-facebook"><div></div><div></div><div></div></div>


            <div *ngIf="values.isLoggedIn && service.loggedInCustomer  && !accountsService.loginLoading" class="loggedin-data">

                <div style="display: inline-block; margin-left: 10px;">
                    <img menuToggle (click)="login()" class="icon-color-on-primary" style="width: 40px; bottom: 40px;"
                         src="assets/imgs/account.png">
                </div>

                <div menuToggle (click)="login()"  style=" display: inline-block">
                    <div class="loggedin-data-name">
                        {{service.loggedInCustomer['customer']['first_name']}}
                        {{service.loggedInCustomer['customer']['last_name']}}
                    </div>

                    <div class="loggedin-data-username">
                        {{service.loggedInCustomer['customer']['username']}}
                    </div>
                </div>

                <div style="display: inline-block">
                    <img menuToggle class="icon-color-on-primary" (click)="logout()"
                         style="width: 40px;bottom: 46px; position: absolute; right: 18px"
                         src="assets/imgs/logoutdoor.png">
                </div>
            </div>

            <div *ngIf="!values.isLoggedIn && !accountsService.loginLoading" class="loggedin-data" >
                <div menuToggle style=" display: inline-block">
                    <div class="menu-welcome" >
                        {{"Welcome" | translate}}
                    </div>

                    <div menuToggle class="menu-welcome-user" (click)="login()" style="margin-left: 10px">
                        {{"LogIn" | translate}}
                    </div>

                    <div menuToggle class="menu-welcome-user" (click)="register()">
                        {{"Register" | translate}}
                    </div>


                </div>

                <div style="display: inline-block">
                    <img class="icon-color-on-primary" menuToggle
                         style="width: 40px;bottom: 46px; position: absolute; right: 18px"
                         src="assets/imgs/logindoor.png">

                </div>
            </div>


        </ion-toolbar>
       <!-- <div  menuToggle (click)="order()" class="special-menu-items" >
            <div style="display: inline-block ; flex: 1">
                <img  src="assets/imgs/shipping.png" class="special-menu-img icon-color-on-special">
            </div>

            <div  class="special-menu-item " >
                {{"Your Orders" | translate}}
            </div>
        </div>-->


         <div menuToggle (click)="openMyItems()" class="special-menu-items" >
          <div style="display: inline-block ; flex: 1">
              <img  src="assets/imgs/event.png" class="special-menu-img icon-color-on-special">
          </div>

          <div  class="special-menu-item " >
              {{"My Order" | translate}}
          </div>
      </div>


        <div menuToggle (click)="cart()" class="special-menu-items">

            <div style="display: inline-block ; flex: 1">
                <img src="assets/imgs/cart.png" class="special-menu-img icon-color-on-special">
            </div>

            <div class="special-menu-item">
                {{"Cart" | translate}}
            </div>

        </div>


    </ion-header>

    <ion-content class="menu-content">
        <ion-list class="menu-back">

            <button (click)="openHome()" menuToggle  ion-item right no-lines no-border  class="main-menu-item">

                <img class="main-menu-img icon-color-menu" src="assets/imgs/home.png">

                <div>
                    {{"Home" | translate}}
                </div>


            </button>


        <!--    <button *ngIf="values.isLoggedIn"  (click)="openMyItems()" menuToggle  ion-item right no-lines no-border  class="main-menu-item">

                <img class="main-menu-img icon-color-menu" src="assets/imgs/event.png">

                <div>
                    {{"My Items" | translate}}
                </div>

            </button>-->



            <button (click)="order()" menuToggle  ion-item right no-lines no-border  class="main-menu-item">

                <img class="main-menu-img icon-color-menu" src="assets/imgs/package.png">

                <div>
                    {{"Your Orders" | translate}}
                </div>

            </button>


            <button (click)="openCategories()" menuToggle  ion-item left no-lines no-border  class="main-menu-item">

                <img class="main-menu-img icon-color-menu" src="assets/imgs/layers.png">

                <div>
                    {{"Shop" | translate}}
                </div>


            </button>


            <button *ngIf="appsazSettings.advanced" (click)="topsellersList()" menuToggle ion-item left  no-lines no-border class="main-menu-item">

                <img class="main-menu-img icon-color-menu" src="assets/imgs/favorites.png">

                <div>
                    {{"Top Sellers" | translate}}
                </div>


            </button>


            <button (click)="onsaleList()" menuToggle  ion-item left  no-lines no-border class="main-menu-item" >

                <img class="main-menu-img icon-color-menu" src="assets/imgs/discount.png">

                <div>
                    {{"Best Offers" | translate}}
                </div>


            </button>

            <button *ngIf="appsazSettings.advanced" (click)="openBlog()" menuToggle  ion-item left  no-lines no-border class="main-menu-item" >

                <img class="main-menu-img icon-color-menu" src="assets/imgs/content.png">

                <div>
                    {{"Blog" | translate}}
                </div>

            </button>



            <button menuToggle (click)="wishlist()" ion-item left  no-lines no-border class="main-menu-item">

                <img  class="main-menu-img icon-color-menu" src="assets/imgs/likebold.png">

                <div>
                    {{"Wishlist" | translate}}
                </div>


            </button>


            <button menuToggle ion-item  no-lines no-border left (click)="gotoMessages()" class="main-menu-item"
                    *ngIf="appsazSettings.advanced">

                <img  class="main-menu-img icon-color-menu" src="assets/imgs/envelope.png">

                <div>

                    {{"Notifications" | translate}}
                    <div *ngIf="newMessagesCount>0" class="new-msgs-badge">{{newMessagesCount}}</div>
                </div>


            </button>


            <button menuToggle ion-item  no-lines no-border left class="main-menu-item" (click)="aboutUs()" >

                <img  class="main-menu-img icon-color-menu" src="assets/imgs/information.png">

                <div>
                    {{"About Us" | translate}}
                </div>


            </button>



            <button  menuToggle ion-item  no-lines no-border left class="main-menu-item" (click)="policy()" >

                <img  class="main-menu-img icon-color-menu" src="assets/imgs/direction.png">

                <div>
                    {{"Terms & Conditions" | translate}}
                </div>


            </button>

            <button  menuToggle ion-item  no-lines no-border left class="main-menu-item" (click)="contactUs()" >

                <img  class="main-menu-img icon-color-menu" src="assets/imgs/discuss-issue.png">

                <div>
                   {{"Contact us"  | translate}}
                </div>


            </button>


            <button *ngIf="appsazSettings.advanced" menuToggle ion-item  no-lines no-border left class="main-menu-item" (click)="shareLink()" >

                <img  class="main-menu-img icon-color-menu" src="assets/imgs/friends.png">

                <div>
                    {{"Share App" | translate}}
                </div>


            </button>


            <!--            <button *ngIf="appsazSettings.advanced" menuToggle right no-lines no-border  class="main-menu-item" style="height: 45px;margin-right: 5px;">-->

            <!--                <img  class="main-menu-img icon-color-menu" src="assets/imgs/headset.png">-->

            <!--                <a *ngIf="!appsazSettings.bazaarPublish" href="tel:{{this.service.supportNumber}}" class="main-menu-support">تماس با پشتیبان</a>-->
            <!--                <a *ngIf="appsazSettings.bazaarPublish" href="tel:{{this.service.supportNumber}}" class="main-menu-support">تماس با پشتیبان (۸ الی ۱۲ صبح)</a>-->

            <!--            </button>-->



            <button menuToggle ion-item  no-lines no-border left (click)="logout()" class="main-menu-item"
                    *ngIf="values.isLoggedIn">

                <img  class="main-menu-img icon-color-menu" src="assets/imgs/logoutdoor.png">

                <div>
                    {{"Logout" | translate}}
                </div>


            </button>


        </ion-list>


        <!--<div *ngIf="appsazSettings.demo" class="main-menu-sign" (click)="loadSite()">
            Designed and developed by appsaz
            <div>
                www.appsaz.ir
            </div>
        </div>-->
    </ion-content>

</ion-menu>


<ion-nav [root]="rootPage" #content swipeBackEnabled="false">
</ion-nav>
