
<ion-header>

  <ion-navbar>
    <ion-title>Error</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="shop-background">

<img style="width: 50%;  text-align: center; margin-right: 25%;  margin-left: 25%;" src="assets/imgs/wifi.png" class="icon-color-product-options">
  <div class="offline-error">
   <!-- عدم اتصال به اینترنت-->
    {{"No internet connection" | translate}}
  </div>

  <button class="appbutton" ion-button (click)="exitApp()" ><!-- خروج از اپ-->
    {{"Exit" | translate}}
  </button>


  <button class="appbutton" ion-button (click)="reload()"> <!--تلاش مجدد-->
    {{"Retry" | translate }}
  </button>
</ion-content>
