<ion-header>

  <!--<ion-navbar>
    <ion-title>Order details</ion-title>
    <ion-buttons end style="display: inline-block; float: right">
      <button (click)="closeModal()" style="background-color: transparent;">
        <img class="icon-color-on-special" src="assets/imgs/close.png" style="margin-top: 3px; width: 15px; margin-left: 15px;">
      </button>
    </ion-buttons>
  </ion-navbar>-->

  <ion-navbar>
  <ion-buttons start style=" position: absolute; left: 4px;top: 12px;">
    <button (click)="closeModal()" style="background-color: transparent;">
      <img class="icon-color-on-special" src="assets/imgs/close.png" style="margin-top: 3px; width: 15px; margin-left: 15px;">
    </button>

  </ion-buttons>

  <ion-buttons end style="display: inline-block; float: left">
    <button (click)="getCart()" style="background-color: transparent;">
      <ion-badge item-end class="cartBadge" *ngIf="values.count != 0">
        {{values.count}}
      </ion-badge>
      <img src="assets/imgs/shopping-cart.png" style="width: 24px">
    </button>
  </ion-buttons>

  <ion-title>
    {{"Order details" | translate}}
  </ion-title>
  </ion-navbar>


</ion-header>


<ion-content padding>

  <div *ngFor="let product of orderItems; let i= index" class="items-list">
    <!-- <div>product_id: {{product.product_id}}</div>-->
    <div>Product's name : {{product.name}}</div>
    <div>Quantity : {{product.qty}}</div>
    <div *ngIf="product.line_total_old == product.line_total_new">Price : {{product.line_total_old | numberSeparator}} {{"currency" | translate}}</div>
    <div *ngIf="product.line_total_old != product.line_total_new">Old price : {{product.line_total_old | numberSeparator}} {{"currency" | translate}}</div>
    <div *ngIf="product.line_total_old != product.line_total_new">New price : {{product.line_total_new | numberSeparator}} {{"currency" | translate}}</div>
    <!--  <div>line_tax : {{product.line_tax}}</div>
      <div>variationId : {{product.variationId}}</div>
      <div>stock_amount : {{product.stock_amount}}</div>-->

    <div *ngIf="product.line_total_old != product.line_total_new" style="color: red;">
      Price of this product has been changed.
    </div>

    <div *ngIf="product.stock_amount != -1 ">
      <div *ngIf="product.stock_amount == 0" style="color: red;">
        This product is out of stock.
      </div>

      <div *ngIf="product.qty > product.stock_amount" style="color: red;">
        Stock amount of this product is less than your former order.
      </div>
    </div>

    <div class="btn-container">
      <button (click)="addToCart(product, i)" [disabled]="selectedItemIndex== i && disableBtn" ion-button>Add to cart</button>
    </div>

  </div>

</ion-content>
